<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <link href="{{ theme.link }}/style.css" />
        {{ function("wp_head") }}
    </head>
    <body class="{{ body_class }}"
          data-template="base.twig">
        {{ function("wp_body_open") }}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "footer.twig" %}
        {{ function("wp_footer") }}
    </body>
</html>
